.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  text-align: center;
  min-width: 30%;
  padding: 2em 1em;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(26, 26, 26, 1);
  margin-bottom: 2em;
}

.form hr {
  animation: lineloaded 1s;
}

.form-title {
  font-size: 38px;
  font-weight: bold;
}

.button {
  align-self: center;
}

.login-span {
  align-self: center;
}

.login-span span {
  border-bottom: 1px solid goldenrod;
  transition: border 0.5s ease, color 0.5s ease;
}

.login-span span:hover {
  color: goldenrod;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .form {
    min-width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    min-width: 90%;
  }
}