.formfield-edit {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.formfield-edit span {
  font-size: 32px;
  transition: transform 0.5s;
  border: none;
}

.formfield-edit span:hover {
  cursor: pointer;
  transform: scale(1.1);
}