.sign {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: loaded 1s ease;
}

.sign-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-form {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2em 1em;
  text-align: center;
  gap: 1em;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 2em;
  background-color: rgba(26, 26, 26, 1);
}

.form-title {
  font-size: 38px;
  font-weight: bold;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  gap: 1.5em;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.form-fields label {
  font-size: 20px;
  margin-bottom: 0.25em;
  font-weight: 300;
}

.form-fields input {
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 1em 0.5em;
  font-size: 16px;
  font-weight: 300;
}

.button {
  align-self: center;
}

.message-field {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  background: rgba(255, 0, 0, 0.8);
  padding: 0.75em 1.5em;
  border-radius: 8px;
  margin: 1em auto;
  text-align: center;
  max-height: 100px;
  overflow: hidden;
  animation: loaded 1s ease;
}

.sign-span {
  align-self: center;
}

.sign-span span {
  border-bottom: 1px solid goldenrod;
  transition: border 0.5s ease, color 0.5s ease;
}

.sign-span span:hover {
  color: goldenrod;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .sign-form {
    min-width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .sign-form {
    min-width: 90%;
  }
}